<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Benh Nhan</title>
</head>
<link th:href="@{resources/css/bootstrap.min.css}" rel="stylesheet">
<body>
<h1>Edit Bệnh Nhân</h1>
<div class="container mt-4">
    <div th:if="${successMessage}" class="alert alert-success"
         style="color: green; padding: 10px; margin: 10px 0; border: 1px solid green;">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Hiển thị thông báo lỗi -->
    <div th:if="${errorMessage}" class="alert alert-danger"
         style="color: red; padding: 10px; margin: 10px 0; border: 1px solid red;">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/benhnhan/update/{maBenhNhan}(maBenhNhan=${benhNhan.maBenNhan})}" th:object="${benhNhan}" method="post">
        <input type="hidden" th:field="*{maBenNhan}">
        <div class="form-group mb-3">
            <label for="ngayCachLy">Ngày Cách Ly</label>
            <input type="date" class="form-control" id="ngayCachLy" th:field="*{ngayCachLy}" required>
        </div>
        <div class="form-group mb-3">
            <label for="maDonVi">Mã Đơn Vị</label>
            <input type="text" class="form-control" id="maDonVi" th:field="*{donViDieuTri.maDonVi}" required>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>
</body>
<script th:src="@{resources/js/bootstrap.bundle.min.js}"></script>
</html>